RewriteEngine On
Options -Indexes

<filesMatch "^(Route\.php|Router\.php|composer\.json|\.htaccess|composer\.lock)$">
Order Allow,Deny
Deny from all
</filesMatch>

RewriteBase /AsistentPlusPlus/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/AsistentPlusPlus/web/(.*)

RewriteRule ^(.*)$ dispetcher.php?requestedURI=$1 [QSA,L]

