<div ng-controller="HoursOnCallController">
	<div class="forme_dezurstava">	
			<p class="imenaFormi"> Број сати на дежурству </p>
				
				<label class="col-lg-3 control-label">Претражи табелу: </label><input type="text" ng-model="search.$" /> <br/><br/>
	
				<table class="table table-striped">
					<tr>
						<th>Aсистент</th>
						<th ng-click="reverseSort = !reverseSort">Број сати дежурства
							<span ng-show="!reverseSort" class="unbold"><small>&nbsp &nbspv</small></span><span ng-show="reverseSort" class="unbold">&nbsp ^</span></span></th>
					</tr>
					<tr ng-repeat="row in totalHoursOfDuty | orderBy: orderByHoursFunc: reverseSort| filter: search">
						<td><a id="{{row.id_assistant}}" ng-click="showAsTable(row.id_assistant)">{{row.name}}</a></td><td>{{row.hours}}</td>
					</tr>
				</table>
				
				<!-- tabela za asistenta koja se prikazuje klikom na asistenta(sve njegove obaveze) -->				
				<div class="loginform" ng-show="asTableVisible">
					<div class="login">
					
						<div class="logintop">
							<div class="loginclose">
							<button type="button" name="closeTableButoon" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setVisible(false)">x</button>
							</div>
						</div>
						
						<div class="loginbody">
							<p class="tableName"> {{tableName}} </p>
							<table class="table table-bordered">
								<tr class="bold">
									<td>Датум</td><td>Време</td><td>Обавеза</td>
								</tr>
								<tr ng-repeat="row in asTable |orderBy: orderByDateFunc" class="duty-{{returnDutyTime($index)}}">
									<td>{{row.date}}</td><td>{{row.time}}</td><td>{{row.typeOfDuty}}</td>
								</tr>
							</table>
						</div> <!-- loginbody -->
					</div> <!-- login -->
				</div>  <!-- loginform -->
				
	</div> <!--forma dezusrstva -->
</div>
