<!-- tab pristigle obaveze -->
			<div ng-controller="NewOrderController">	
				<div class="forme_dezurstava">
						<p class="imenaFormi"> Обрада обавеза </p>
						<form class="form-horizontal">
	      		<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label">Сортирај обавезе по:</label>
								<div class="col-lg-4">
									<select class="form-control" ng-model="selected" ng-change="setSort()">
										<option value='orderByRecentFunc'> Редоследу пристизања </option>
										<option value='orderByDateFunc'> Датуму </option>
									</select>
								</div>
							</div>
						</fieldset>
						</form>	<br/>

						<label class="col-lg-3 control-label">Претражи табелу: </label><input type="text" ng-model="search.$" /> <br/><br/>

					<table class="table table-striped" ng-init="reverseSort = false">
							<tr>
								<th>Назив обавезе</th>
								<th ng-click="reverseSort = !reverseSort">Датум
									<span ng-show="!reverseSort" class="unbold"><small>&nbsp &nbspv</small></span>
									<span ng-show="reverseSort" class="unbold">&nbsp ^</span></span></th> 		
								<th>Обавезу пријавио</th>
								<th></th>
							</tr>
							<tr ng-repeat="obaveza in duty| orderBy: sort: reverseSort | filter: search">
								<td>{{obaveza.course}}</td><td>{{obaveza.date}}, {{obaveza.time}}</td><td>{{obaveza.assistant}}</td>
								<td><button class="btn btn-primary" type="button" > Обради </button></td>
						</tr>
					</table>
					</div> <!-- forme dezurstva -->
				</div> <!-- tab pristigle obaveze -->
